.bg-first {
    background: #D9D9D9;
}

.task-options {
    width: 263px;
    height: 38px;
    left: 33px;
    top: 138px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 33px;
}

.task-options:hover {
    background: rgba(255, 255, 255, 1);
}

.addtask {
    font-style: normal;
    line-height: 22px;
    background: radial-gradient(100% 100.34% at 0% 47.37%, #F45555 0%, #870404 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/* loader spin */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 48px;
    height: 48px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}